* {
  padding: 0;
  margin: 0;
  color: #333;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a:link {
  color: #444;
}
a:visited {
  color: #444;
}

a:hover {
  color: #555;
}

a:active {
  color: #555;
}

ul {
  list-style: none;
}
img {
  vertical-align: middle;
}

.flexContainer {
  display: flex;
}
